<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LabManagementApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="supervisors">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Superviseurs
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="laboratories">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Laboratoires
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rooms">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Salles de TP
            </NavLink>
        </div>          
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="computers">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ordinateurs
            </NavLink>
        </div>
                      
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
